@import "abstract/variable";
@import "abstract/mixin";

@import "base/typography";
@import "base/animate";

@import "components/button";
@import "components/composition";
@import "components/feature";
@import "components/card";
@import "components/form";

@import "layout/header";
@import "layout/footer";

@import "pages/home";

*,
*::after,
*::before{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body{
    font-family: "Lato",sans-serif;
    padding: 1.8rem;

    @include media(1000px){
        padding: 0;
    }
}

html{
    scroll-behavior: smooth;
}