footer{
    width: 100%;
    padding: 3rem 0;
    background-color: $color-grey-dark-3;
    text-align: center;
    color: $color-white;

    img{
        width: 80px;
    }

    .fa{
           font-size: 1.3rem;
           padding: 0 .5rem;
           transition: all .2s;

           &:hover{
               color: $color-primary;
           }
    }

    p{
        margin-top: 1rem;

        span{
            font-weight: bold;
            color: $color-primary;
        }
    }
}