.feature{
    @include inner;
    transform: skewY(12deg);
    @include flex;
    justify-content: space-between;
    padding: 0 2rem;

    &__box{
        text-align: center;
        flex-basis: 22%;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 2.5rem 1rem;
        transition: all 200ms;

        @include media(1000px){
            flex-basis: 45%;
            margin-bottom: 2rem;
         }

         @include media(540px){
            flex-basis: 100%;
         }

        .icon{
            font-size: 3rem;
            color: $color-primary;
        }
        .tertiary-heading{
            margin-top: 1rem;
            font-size: 1rem;
        }

        &:hover{
            transform: translateY(-1.5rem);
        }
    }
}