.form{
    height: 530px;
    clip-path:polygon(0 0, 55% 0, 45% 100%, 0 100%);
    background-color: $color-white;
    opacity: .9;
    padding-left:3rem;

    @include media(1000px){
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%);
        width: 100%;
        padding: 0 1rem;
     }

    &__heading{
        text-align: left;
        padding: 5rem 0 3rem 0;
        margin-bottom: 0;
    }

    &__group{
        width: 388px;

        @include media(1000px){
            width: 100%;
         }
    }

    
    &__input{
        width: 100%;
        display: block;
        padding: .9rem;
        border-bottom: 3px solid transparent;
        border: none;
        font-family: inherit;
        background-color: #eaefec;
        transition: all .1s;


        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-white,.1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }

        
    }

    &__label{
        font-size: .8rem;
        display: block;
        margin-left: 1rem;
        color: $color-grey-dark-2;
        margin-top: .5rem;
        margin-bottom: 1rem;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-3rem);
    }

    .radio-group{
        width: 194px;
        display: inline-block;

        @include media(1000px){
           width: 49%;
         }

         @include media(355px){
            width: 100%;
            margin-bottom: 1rem;
          }
    }

    &__radio-group{
        display: none;
    }

    &__radio-label{
        display: inline-block;
        position: relative;
        left: 50px;
        font-size: 13px;
        color: $color-grey-dark-2;
    }

    &__radio-button{
        width: 1.5rem;
        height: 1.5rem;
        border: 4px solid $color-primary;
        display: inline-block;
        margin-right: 1rem;
        position: absolute;
        border-radius: 50%;
        right: 105px;
        top: -25%;

        &::after{
            content: "";
            display: block;
            width: .5rem;
            height: .5rem;
            border-radius: 50%;
            background-color: $color-primary;
            position: absolute;
            left: 4px;
            top: 4px;
            opacity: 0;
            transition: all .2s;
        }
    }

    &__radio-group:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }

}